<div class="claro" style="background-color:#b0c4de;width:400px;border:2px solid #666;border-radius:5px;padding:10px">
    <div  data-dojo-attach-point="titleNode"></div>
	<div id="loopingslider">
		<div id="sliderrule"></div>
		<div id="sliderlabel"></div>
	</div>
	<div id="loopingcontrols" >

		<button data-dojo-attach-event='onclick: startLooping'>Start</button>
		<button data-dojo-attach-event='onclick: stopLooping'>Stop</button>
		<span id="currentloopingframe" style="color:#DF7401;font-size:16px;font-weight:bold;">1400</span>

	</div>
</div>